html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  height: calc(100% - 73px);
}
.header {
  padding: 25px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.logo {
  font-size: 20px;
  display: block;
  float: left;
  background-color: purple;
}
.date-picker {
  font-size: 20px;
  background-color: blue;
  display:inline-block;
}
.content {
  height: 100%;
}
.left {
  background-color: coral;
  float:left;
  height: 100%;
  width: 40%;
  transition: 0.75s ease;
}
.left-small {
  width: 0%;
}
.right {
  display: inline-block;
  height: 100%;
  width: 60%;
  transition: 0.75s ease;
}
.right-large {
  width: 100%;
}
.collapse-button {
  position:absolute;
  width:36px;
  height:36px;
  border-radius:25%;
  font-size:16px;
  background-color:#ef4581;
  color:#f1f1f2;
  display:flex;
  justify-content:center;
  align-items:center;
  top: 77px;
  left: 40.5%;
  z-index:3;
  cursor:pointer;
  transition: 0.75s ease;
}
.collapse-button-collapsed {
  left: 10px;
}
.fa-chevron-left {
  display: block;
  margin-right:3px;
}
.hidden {
  display: none;
}
.fa-chevron-right {
  margin-left: 3px;
  display: inline-block;
}
.fa-chevron-right-hidden {
  display: none;
}
#map {
  height: 100%;
}
.venue-list {
  position:absolute;
  padding-left: 20px;
  padding-right: 20px;
}
.venue-description {
  margin-top: 30px;
  font-size: 12px;
}
.venue-name {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.venue-address {
  margin-top: 20px;
  font-size: 14px;
}