html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
  height: 100%;
}
.header {
  padding: 25px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.logo {
  font-size: 20px;
  display: block;
  float: left;
  background-color: purple;
}
.date-picker {
  font-size: 20px;
  background-color: blue;
  display:inline-block;
}
.content {
  height: 100%;
}
.left {
  background-color: coral;
  float:left;
  height: 100%;
  width: 30%;
  transition: 1s ease;
}
.left-small {
  width: 0%;
}
.right {
  display: inline-block;
  height: 100%;
  width: 70%;
  transition: 1s ease;
}
.right-large {
  width: 100%;
}
.collapse-button {
  position:absolute;
  width:36px;
  height:36px;
  border-radius:50%;
  font-size:16px;
  background-color:#ef4581;
  color:#f1f1f2;
  display:flex;
  justify-content:center;
  align-items:center;
  top: 90px;
  left: calc(30% - 18px);
  z-index:3;
  cursor:pointer;
  transition: 1s ease;
}
.collapse-button-collapsed {
  left: 10px;
}
.fa-chevron-left {
  margin-right:3px;
}
.fa-chevron-right {
  margin-left:3px;
}
#map {
  height: 100%;
}
